[submodule "test/gmock"]
	path = test/gmock
	url = https://chromium.googlesource.com/external/gmock
[submodule "test/googletest"]
	path = test/googletest
	url = https://chromium.googlesource.com/external/googletest
[submodule "test/arduino-mock"]
	path = test/arduino-mock
	url = https://github.com/ikeyasu/arduino-mock.git
[submodule "lib/Brain"]
	path = lib/Brain
	url = https://github.com/kitschpatrol/Brain.git
[submodule "lib/Adafruit-Thermal-Printer-Library"]
	path = lib/Adafruit-Thermal-Printer-Library
	url = https://github.com/adafruit/Adafruit-Thermal-Printer-Library.git
[submodule "lib/Adafruit_Thermal"]
	path = lib/Adafruit_Thermal
	url = https://github.com/adafruit/Adafruit-Thermal-Printer-Library.git
